name: postgresql
services:
  postgresql:
    image: postgres:13
    container_name: postgresql
    restart: unless-stopped
    secrets:
      - postgres_passwd
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_passwd
    volumes:
      - postgresql:/var/lib/postgresql/data
    networks:
      - services

secrets:
  postgres_passwd:
    file: ./secrets/postgres_passwd.secret

volumes:
  postgresql:
    external: true

networks:
  services:
    name: services
    external: true