name: home-server
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    restart: unless-stopped
    container_name: nginx-proxy
    ports:
      - 80:80
      - 443:443
    # environment:
      #   - CERT_NAME=${DOMAIN}
    volumes:
      - ./extras/nextcloud/client_max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro
      - ${SECRETS_BASE_PATH}/${DOMAIN}_fullchain.secret:/etc/nginx/certs/default.crt:ro
      - ${SECRETS_BASE_PATH}/${DOMAIN}_privkey.secret:/etc/nginx/certs/default.key:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      #- /opt/docker-data/nginx_proxy-config/htpasswd:/etc/nginx/htpasswd

    networks:
      - frontend
      - mediaserver
      - services

  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=whoami.${DOMAIN}
      - VIRTUAL_PORT=80
    networks:
      - services

  postgresql:
    image: postgres:13
    container_name: postgresql
    restart: unless-stopped
    secrets:
      - postgres_passwd
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_passwd
      TZ: America/Sao_Paulo
    volumes:
      - postgresql:/var/lib/postgresql/data
    networks:
      - services

  gitea:
    image: gitea/gitea
    container_name: gitea
    restart: unless-stopped
    depends_on:
      - postgresql
      - nginx-proxy
    env_file:
      - ./.env
      - ./secrets/gitea_db.env
    ports:
      - 30222:22
    environment:
      - USER_UID=972
      - USER_GID=972
      - DISABLE_REGISTRATION=true
      - VIRTUAL_HOST=git.${DOMAIN}
      - VIRTUAL_PORT=3000
    volumes:
      - gitea_data:/data
      - gitea_home:/data/git/.ssh
    networks:
      - services

  vaultwarden:
    image: ghcr.io/timshel/vaultwarden
    container_name: vaultwarden
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=vaultwarden.${DOMAIN}
      - VIRTUAL_PORT=80
    volumes:
      - vaultwarden:/data
    networks:
      - services

  thelounge:
    image: thelounge/thelounge
    container_name: thelounge
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=thelounge.${DOMAIN}
      - VIRTUAL_PORT=9000
    volumes:
      - thelounge:/var/opt/thelounge
    networks:
      - services

  speedtest:
    container_name: speedtest
    image: ghcr.io/librespeed/speedtest:latest
    restart: unless-stopped
    depends_on:
      - nginx-proxy
    environment:
      - MODE=standalone
      - TITLE=LibreSpeed
      - TELEMETRY=true
      - ENABLE_ID_OBFUSCATION=false
      - REDACT_IP_ADDRESSES=false
      - VIRTUAL_HOST=speedtest.${DOMAIN}
      - VIRTUAL_PORT=8080
    volumes:
      - librespeed:/database
    networks:
      - services

  ytdlp:
    image: marcobaobao/yt-dlp-webui
    container_name: ytdlp
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=youtube.${DOMAIN}
      - VIRTUAL_PORT=3033
    volumes:
      - ytdlp-downloads:/downloads
      - ytdlp-config:/config
    networks:
      - services

  stirling-pdf:
    image: frooodle/s-pdf
    container_name: stirling-pdf
    restart: unless-stopped
    depends_on:
      - nginx-proxy
    environment:
      - LANGS=pt_BR
      - VIRTUAL_HOST=pdf.${DOMAIN}
      - VIRTUAL_PORT=8080
    volumes:
      - /usr/share/tessdata:/trainingData
      - stirling-pdf-configs:/configs
      - stirling-pdf-logs:/logs
    networks:
      - services

  redis:
    container_name: nextcloud-redis
    image: redis:alpine
    restart: unless-stopped
    depends_on:
      - nginx-proxy
    networks:
      - services

  app:
    container_name: nextcloud-app
    image: nextcloud:fpm-alpine
    restart: unless-stopped
    depends_on:
      - postgresql
      - redis
      - nginx-proxy
    group_add:
      - ${PGID}
    secrets:
      - nextcloud_db_passwd
      - nextcloud_admin_passwd
    environment:
      - REDIS_HOST=redis
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=nextcloud.${DOMAIN}
      - TRUSTED_PROXIES=172.19.0.0/16 172.20.0.0/16
      - PHP_MEMORY_LIMIT=8G
      - PHP_UPLOAD_LIMIT=8G
      - POST_MAX_SIZE=8G
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud_user
      - POSTGRES_HOST=postgresql
      - POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_db_passwd
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_passwd
      - NEXTCLOUD_MAINTENANCE_WINDOW_START=1
      - NEXTCLOUD_DEFAULT_PHONE_REGION=BR
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config:z
      - nextcloud-data:/var/www/html/data
      - ./extras/nextcloud/group:/etc/group
      - Movies:/media/Movies
      - Series:/media/Series
      - Pictures:/Photos
      - Completed:/media/Completed
      - downloading:/media/downloading
      - Downloads:/media/Downloads
    networks:
      - services

  web:
    image: nginx:alpine-slim
    container_name: nextcloud-web
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=nextcloud.${DOMAIN}
      - VIRTUAL_PORT=80
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config
      - ./extras/nextcloud/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./extras/nextcloud/client_max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro
    depends_on:
      - app
      - nginx-proxy
    networks:
      - services

  cron:
    container_name: nextcloud-cron
    image: nextcloud:fpm-alpine
    restart: unless-stopped
    group_add:
      - ${PGID}
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config
      - ./extras/nextcloud/group:/etc/group
      - nextcloud-data:/var/www/html/data
      - Movies:/media/Movies
      - Series:/media/Series
      - Pictures:/Photos
      - Completed:/media/Completed
      - downloading:/media/downloading
      - Downloads:/media/Downloads
    entrypoint: /cron.sh
    depends_on:
      - redis
      - nginx-proxy
    networks:
      - services

  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    restart: unless-stopped
    container_name: speedtest-tracker
    env_file:
      - ./.env
    secrets:
      - speedtest_tracker_db_passwd
      - speedtest_tracker_app_key
    environment:
      - VIRTUAL_HOST=speedtest-tracker.${DOMAIN}
      - VIRTUAL_PORT=9696
      - FILE__APP_KEY=/var/run/secrets/speedtest_tracker_app_key
      - DB_CONNECTION=pgsql
      - DB_HOST=postgresql
      - DB_PORT=5432
      - ADMIN_EMAIL=${EMAIL}
      - DB_DATABASE=speedtest_tracker
      - DB_USERNAME=speedtest_tracker
      - FILE__DB_PASSWORD=/var/run/secrets/speedtest_tracker_db_passwd
      - APP_TIMEZONE=America/Sao_Paulo
      - DISPLAY_TIMEZONE=America/Sao_Paulo
      - SPEEDTEST_BLOCKED_SERVERS="69547,71619"
      - SPEEDTEST_SCHEDULE="17 * * * *"
    # volumes:
    #     - speedtest_tracker:/config
    depends_on:
        - postgresql
        - nginx-proxy
    networks:
        - services

  smtp:
    image: registry.gitlab.com/egos-tech/smtp:latest
    container_name: smtp
    restart: always
    secrets:
      - gmail_passwd
    depends_on:
      - nginx-proxy
    # ports:
    #  - "25:25"
    environment:
      # MUST start with `:`
      # if acting as a relay this or RELAY_DOMAINS must be filled out or incoming mail will be rejected
      RELAY_NETWORKS: :172.19.0.0/16:172.20.0.0/16
      # what domains should be accepted to forward to lower distance MX server.
      RELAY_DOMAINS: 'gmail.com'
      GMAIL_USER: ${EMAIL}
      GMAIL_PASSWORD_FILE: /run/secrets/gmail_passwd
    networks:
      - services

  deluge:
    container_name: deluge
    image: lscr.io/linuxserver/deluge:latest
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=deluge.${DOMAIN}
      - VIRTUAL_PORT=8112
    ports:
      - 58846:58846
    volumes:
      - deluge:/config
      - Movies:/storage/Movies:rw
      - Series:/storage/Series:rw
      - Completed:/storage/Completed:rw
      - downloading:/storage/.downloading:rw
    networks:
      - mediaserver

  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=jellyfin.${DOMAIN}
      - VIRTUAL_PORT=8096
    group_add:
      - 989
      - 985
    devices:
      - /dev/dri:/dev/dri
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - jellyfin:/config
      - /media/Downloads/jellyfin_metadata/metadata/:/config/metadata/
      - Movies:/storage/Movies:rw
      - Series:/storage/Series:rw
      - Completed:/storage/Completed:rw
    networks:
      - mediaserver

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=prowlarr.${DOMAIN}
      - VIRTUAL_PORT=9696
    volumes:
      - prowlarr:/config
    networks:
      - mediaserver

  radarr:
    container_name: radarr
    image: ghcr.io/onedr0p/radarr:rolling
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=radarr.${DOMAIN}
      - VIRTUAL_PORT=7878
    volumes:
      - radarr:/config
      - Movies:/storage/Movies:rw
      - Completed:/storage/Completed:rw
    networks:
      - mediaserver

  sonarr:
    container_name: sonarr
    image: ghcr.io/onedr0p/sonarr:rolling
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=sonarr.${DOMAIN}
      - VIRTUAL_PORT=8989
    volumes:
      - sonarr:/config
      - Series:/storage/Series:rw
      - Completed:/storage/Completed:rw
    networks:
      - mediaserver

  bazarr:
    container_name: bazarr
    image: ghcr.io/onedr0p/bazarr:rolling
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=bazarr.${DOMAIN}
      - VIRTUAL_PORT=6767
    volumes:
      - bazarr:/config
      - Series:/storage/Series:rw
      - Movies:/storage/Movies:rw
    networks:
      - mediaserver

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - VIRTUAL_HOST=flaresolverr.${DOMAIN}
      - VIRTUAL_PORT=8191
    networks:
      - mediaserver

  homeassistant:
    image: ghcr.io/onedr0p/home-assistant:rolling
    container_name: homeassistant
    restart: unless-stopped
    user: ${PUID}:${PGID}
    depends_on:
      - nginx-proxy
    volumes:
      - homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    privileged: true
    environment:
      - VIRTUAL_HOST=homeassistant.${DOMAIN}
      - VIRTUAL_PORT=8123
    networks:
      - mediaserver
      - services

networks:
  frontend:
    name: frontend
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.18.0.0/16
      - subnet: fd3c:fa11:c0de:1::/64
  services:
    name: services
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.19.0.0/16
      - subnet: fd3c:fa11:c0de:2::/64
  mediaserver:
    name: mediaserver
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.20.0.0/16
      - subnet: fd3c:fa11:c0de:3::/64

secrets:
  rfc2136_tsig_key:
    file: ${SECRETS_BASE_PATH}/rfc2136_tsig_key.secret
  rfc2136_tsig_algorithm:
    file: ${SECRETS_BASE_PATH}/rfc2136_tsig_algorithm.secret
  rfc2136_tsig_secret:
    file: ${SECRETS_BASE_PATH}/rfc2136_tsig_secret.secret
  postgres_passwd:
    file: ${SECRETS_BASE_PATH}/postgres_passwd.secret
  nextcloud_db_passwd:
    file: ${SECRETS_BASE_PATH}/nextcloud_db_passwd.secret
  nextcloud_admin_passwd:
    file: ${SECRETS_BASE_PATH}/nextcloud_admin_passwd.secret
  gmail_passwd:
    file: ${SECRETS_BASE_PATH}/gmail.secret
  speedtest_tracker_db_passwd:
    file: ${SECRETS_BASE_PATH}/speedtest-tracker_db_passwd.secret
  speedtest_tracker_app_key:
    file: ${SECRETS_BASE_PATH}/speedtest-tracker_app_key.secret

volumes:
  Movies:
    name: Movies
    driver: local
    driver_opts:
      type: none
      device: /media/Movies/
      o: bind,rw
  Series:
    name: Series
    driver: local
    driver_opts:
      type: none
      device: /media/Series/
      o: bind,rw
  downloading:
    name: downloading
    driver: local
    driver_opts:
      type: none
      device: /media/.downloading/
      o: bind,rw
  Completed:
    name: Completed
    driver: local
    driver_opts:
      type: none
      device: /media/Completed/
      o: bind,rw
  Pictures:
    name: Pictures
    driver: local
    driver_opts:
      type: none
      device: /media/Pictures/
      o: bind,rw
  Downloads:
    name: Downloads
    driver: local
    driver_opts:
      type: none
      device: /media/Downloads/
      o: bind,rw
  ytdlp-downloads:
    name: ytdlp-downloads
    driver: local
    driver_opts:
      type: none
      device: /media/Downloads/youtube-dl/
      o: bind,rw
  ytdlp-config:
    name: ytdlp-config
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/ytdlp/config
      o: bind,rw
  postgresql:
    name: postgresql
    driver: local
    driver_opts:
      type: local
      device: ${VOLUMES_BASE_PATH}/postgresql
      o: bind,rw
  gitea_data:
    name: gitea_data
    driver: local
    driver_opts:
        type: none
        device: ${VOLUMES_BASE_PATH}/gitea
        o: bind,rw
  gitea_home:
    name: gitea_home
    driver: local
    driver_opts:
        type: none
        device: /home/git/.ssh
        o: bind,rw
  vaultwarden:
    name: vaultwarden
    driver: local
    driver_opts:
        type: none
        device: ${VOLUMES_BASE_PATH}/vaultwarden
        o: bind,rw
  nextcloud:
    name: nextcloud
  nextcloud-config:
    name: nextcloud-config
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/nextcloud/config
      o: bind,rw
  nextcloud-data:
    name: nextcloud-data
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/nextcloud/data
      o: bind,rw
  jellyfin:
    name: jellyfin
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/jellyfin
      o: bind,rw
  bazarr:
    name: bazarr
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/bazarr
      o: bind,rw
  deluge:
    name: deluge
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/deluge
      o: bind,rw
  prowlarr:
    name: prowlarr
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/prowlarr
      o: bind,rw
  radarr:
    name: radarr
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/radarr
      o: bind,rw
  sonarr:
    name: sonarr
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/sonarr
      o: bind,rw
  thelounge:
    name: thelounge
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/thelounge
      o: bind,rw
  homeassistant:
    name: homeassistant
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/homeassistant
      o: bind,rw
  stirling-pdf-configs:
    name: stirling-pdf-configs
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/stirling-pdf/extraConfigs
      o: bind,rw
  stirling-pdf-logs:
    name: stirling-pdf-logs
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/stirling-pdf/logs
      o: bind,rw
  librespeed:
    name: librespeed
    driver: local
    driver_opts:
      type: none
      device: ${VOLUMES_BASE_PATH}/librespeed
      o: bind,rw
