name: vaultwarden
services:
  vaultwarden:
    image: ghcr.io/timshel/vaultwarden
    container_name: vaultwarden
    restart: unless-stopped
    user: ${PUID}:${PGID}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=services"
      - "traefik.http.routers.vaultwarden.tls=true"
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"
      - "traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.${DOMAIN}`)"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
    volumes:
      - vaultwarden:/data
    networks:
      - services

volumes:
  vaultwarden:
    external: true

networks:
  services:
    name: services
    external: true
