name: frontend
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dynamic:/dynamic
      - ./secrets/${DOMAIN}_cert.secret:/config/${DOMAIN}_cert.secret:rw
    environment:
      # dynv6.com RFC2136 credentials
      - RFC2136_NAMESERVER=95.216.144.82
      - RFC2136_TSIG_KEY_FILE=/run/secrets/rfc2136_tsig_key
      - RFC2136_TSIG_ALGORITHM_FILE=/run/secrets/rfc2136_tsig_algorithm
      - RFC2136_TSIG_SECRET_FILE=/run/secrets/rfc2136_tsig_secret
    secrets:
      - traefik_dashboard_auth
      - rfc2136_tsig_key
      - rfc2136_tsig_algorithm
      - rfc2136_tsig_secret
    command:
      #- --serverstransport.insecureskipverify=true
      # EntryPoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"

      # Attach the static configuration tls.yaml
      # That contains the external generated tls paths
      # When configured, this will be the fallback TLS configuration
      # - "--providers.file.filename=/dynamic/tls.yaml"


      # ACME Configuration using RFC2136 DNS Challenge with dynv6.com
      - "--entrypoints.websecure.http.tls.certResolver=rfc2136"
      - "--certificatesresolvers.rfc2136.acme.dnschallenge=true"
      - "--certificatesresolvers.rfc2136.acme.dnschallenge.provider=rfc2136"
      # Use Let's Encrypt staging environment for testing to avoid hitting rate limits
      # Comment the following line when you are ready to go live
      # - "--certificatesresolvers.rfc2136.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.rfc2136.acme.email=${EMAIL}"
      - "--certificatesresolvers.rfc2136.acme.storage=/config/${DOMAIN}_cert.secret"
      # resolvers ns1.dynv6.com and ns2.dynv6.com
      - "--certificatesresolvers.rfc2136.acme.dnsChallenge.resolvers=95.216.144.82, 5.45.100.251"
      - "--certificatesresolvers.rfc2136.acme.dnsChallenge.propagation.delayBeforeChecks=30"

      # Providers
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=frontend"

      # API & Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=false"

      # Observability
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--metrics.prometheus=true"

  # Traefik Dynamic configuration via Docker labels
    labels:
      # Enable self‑routing
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      # Dashboard router
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.${DOMAIN}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"

      # Basic‑auth middleware
      # https://doc.traefik.io/traefik/reference/routing-configuration/http/middlewares/basicauth/#configuration-examples
      - "traefik.http.middlewares.dashboard-auth.basicauth.usersFile=/run/secrets/traefik_dashboard_auth"
      - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"

      # TLS Options
      # Generate a single wildcard certificate for your domain and all its subdomains
      - "traefik.tls.stores.default.defaultgeneratedcert.resolver=rfc2136"
      - "traefik.tls.stores.default.defaultgeneratedcert.domain.main=*.${DOMAIN}"
      # - "traefik.tls.stores.default.defaultgeneratedcert.domain.sans=*.${DOMAIN}"
    networks:
     # Connect to the 'frontend' overlay network for inter-container communication across nodes
     # Also connect to the 'services' network to route traffic to backend services
     # Connect to the 'mediaserver' network to route traffic to media services
      - frontend
      - services
      - mediaserver

secrets:
  traefik_dashboard_auth:
    file: ./secrets/traefik_dashboard_auth.secret
  rfc2136_tsig_key:
    file: ./secrets/rfc2136_tsig_key.secret
  rfc2136_tsig_algorithm:
    file: ./secrets/rfc2136_tsig_algorithm.secret
  rfc2136_tsig_secret:
    file: ./secrets/rfc2136_tsig_secret.secret

networks:
  frontend:
    name: frontend
    external: true
  services:
    name: services
    external: true
  mediaserver:
    name: mediaserver
    external: true