name: nextcloud
services:
  redis:
    container_name: nextcloud-redis
    image: redis:alpine
    restart: unless-stopped
    networks:
      - services
  app:
    container_name: nextcloud
    image: nextcloud:fpm-alpine
    restart: unless-stopped
    group_add:
      - $(PGID)
    secrets:
      - nextcloud_db_passwd
      - nextcloud_admin_passwd
    environment:
      - REDIS_HOST=redis
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=nextcloud.${DOMAIN}
      - TRUSTED_PROXIES=172.19.0.0/16 172.20.0.0/16
      - PHP_MEMORY_LIMIT=8G
      - PHP_UPLOAD_LIMIT=8G
      - POST_MAX_SIZE=8G
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud_user
      - POSTGRES_HOST=postgresql
      - POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_db_passwd
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_passwd
      - NEXTCLOUD_MAINTENANCE_WINDOW_START=1
      - NEXTCLOUD_DEFAULT_PHONE_REGION=BR
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config:z
      - nextcloud-data:/var/www/html/data
      - Movies:/media/Movies
      - Series:/media/Series
      - Pictures:/Photos
      - Completed:/media/Completed
      - downloading:/media/downloading
      - Downloads:/media/Downloads
      - ./nc_extra/group:/etc/group
    depends_on:
      - redis
    networks:
      - services

  web:
    image: nginx:alpine-slim
    container_name: nextcloud-web
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.${DOMAIN}`)"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud_redirectregex@docker,nextcloud-header@docker"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.regex=https://(.*)/.well-known/(?:card|cal)dav"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav"
      - "traefik.http.middlewares.nextcloud-header.headers.referrerPolicy=no-referrer"
      - "traefik.http.middlewares.nextcloud-header.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.nextcloud-header.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.nextcloud-header.headers.stsPreload=true"
      - "traefik.http.middlewares.nextcloud-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nextcloud-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.nextcloud-header.headers.customRequestHeaders.X-Forwarded-Proto=https"
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config
      - ./nc_extra/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nc_extra/client_max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro
    depends_on:
      - app
    networks:
      - services

  cron:
    container_name: nextcloud-cron
    image: nextcloud:fpm-alpine
    restart: unless-stopped
    group_add:
      - 1000
    volumes:
      - ./nc_extra/group:/etc/group
      - nextcloud:/var/www/html
      - nextcloud-config:/var/www/html/config
      - nextcloud-data:/var/www/html/data
      - Movies:/media/Movies
      - Series:/media/Series
      - Pictures:/Photos
      - Completed:/media/Completed
      - downloading:/media/downloading
      - Downloads:/media/Downloads
    entrypoint: /cron.sh
    depends_on:
      - redis
    networks:
      - services

secrets:
  nextcloud_db_passwd:
    file: ./secrets/nextcloud_db_passwd.secret
  nextcloud_admin_passwd:
    file: ./secrets/nextcloud_admin_passwd.secret

volumes:
  nextcloud:
    name: nextcloud
  nextcloud-config:
    name: nextcloud-config
    external: true
  nextcloud-data:
    name: nextcloud-data
    external: true
  Pictures:
    name: Pictures
    external: true
  Downloads:
    name: Downloads
    external: true
  Movies:
    name: Movies
    external: true
  Series:
    name: Series
    external: true
  downloading:
    name: downloading
    external: true
  Completed:
    name: Completed
    external: true

networks:
  services:
    name: services
    external: true

