# Gitea Database Configuration
GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=postgresql:5432
GITEA__database__NAME=gitea
GITEA__database__USER=gitea_user
GITEA__database__PASSWD="_PASSWORD_"
