{
  "rfc2136": {
    "Account": {
      "Email": "email@foo.bar",
      "Registration": {
        "body": {
          "status": "valid"
        },
        "uri": "https://acme-v02.api.letsencrypt.org/acme/acct/2642925321"
      },
      "PrivateKey": "_BASE64-LETSENCRYPT-ACCOUNT-PRIVKEY_",
      "KeyType": "4096"
    },
    "Certificates": [
      {
        "domain": {
          "main": "*.foo.bar"
        },
        "certificate": "_BASE64-CERT_",
        "key": "_BASE64-CERT_PRIVKEY_",
        "Store": "default"
      }
    ]
  }
}